/*Link https://colorhunt.co/palette/139362*/

/*Global styles*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}



/*Navigation Styles*/
.navbar {
    color: #a1dd70;
    display: flex;
    padding: 22px;
    font-family: sans-serif;
    color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.navbar-link-brand {
    color: #a1dd70;
    font-size: 1.5rem;
}

.navbar-link {
    padding-right: 28px;
    color: #a1dd70;

    text-decoration: none;
    list-style-type: none;
}

.navbar-link a {
    color: #a1dd70;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
    justify-content: space-around;
}

.navbar-items ul {
    display: flex;
    justify-content: space-between;
}

.navbar-items-right {
    margin-left: auto;
}

.navbar-link-toggle {
    display: none;
    font-size: 1.5rem;

}

/*Header Styles*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(https://images.pexels.com/photos/1571459/pexels-photo-1571459.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;

}

.header-headline {
    text-align: center;
    padding-top: 15%;
    color: white;
}

.header-headline .header-title {
    font-size: 2.9rem;
    padding: 24px;
}

.header-headline .header-text {
    padding-bottom: 24px;
}

.header-headline .header-btn {
    background-color: #a1dd70;
    border: none;
    text-align: center;
    color: white;
    padding: 15px 35px;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15rem 2.5rem;
}

.header-btn:hover {
    background-color: #363636;
    color: #a1dd70;
}

/*Our story Styles*/
.our-story {
    padding: 120px;
    background-color: #F6F6F6;

}

.our-story h2 {
    padding-bottom: 94px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.story-container {
    display: flex;
    justify-content: center;


}

.story-container img {
    width: 550px;
    height: 350px;
    border-right: 19px solid #a1dd70;
    border-radius: 12px 95px;

}

.story-container .story-text {
    padding: 25px;
}

.story-container .story-text h3 {
    padding: 24px 0px;
    font-size: 1.5rem;

}

/*our services styles*/
.our-services {
    padding: 120px;
    text-align: center;
}

.our-services h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.our-services p {
    padding-bottom: 85px;
}


.services-container {
    display: flex;
    justify-content: center;
}

.services-container img {
    width: 400px;
    height: 300px;
    border-right: 19px solid #a1dd70;
    border-radius: 12px 95px;

    margin: 14px;
}

.services-container .box h3 {
    padding-bottom: 10px;
}

/*Projects section styles*/
.projects {
    padding: 120px;
    background-color: #F6F6F6;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 24px;
}

.projects p {
    text-align: center;
    padding-bottom: 24px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.projects-container img {
    margin: 10px;
    padding: 0 20px 20px;
    width: 350px;
    height: 250px;


}

.projects-container img:hover {
    opacity: .5;
    transition: .9s;
}

/*team section styles*/
.team {
    background-color: #A7C055;

    text-align: center;
    padding: 120px;
}

.team h2 {
    font-size: 2rem;
    color: white;
    padding-bottom: 45px;
}

.team p {
    padding-bottom: 45px;
}

.container-team {
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.box-team img {
    width: 250px;
    height: 300px;
    border-radius: 12px 95px;

}

.box-team {
    color: white;
}